
<style>
.snsButtons {
  margin: 5px;
  padding: 0px;
  text-align: center;
}
.snsButtons a {
  text-decoration: none;
}
.snsButtons li {
  display: inline-block;
  list-style-type: none;
  margin: 2px;
  padding: 6px 0px;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.snsButtons li:hover {
  opacity: 0.7;
}
.snsButtons li:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}
.snsButtons i {
  font-size: 18pt;
  min-width: 40px;
  margin: 0px;
  padding: 0px 0px 0px 8px;
  vertical-align: bottom;
}
.snsButtons_label {
  min-width: 80px;
  display: inline-block;
  padding: 0px 8px 0px 0px;
  text-align: center;
  font-size: 12pt;
}
.snsButtons_twitter  {
  background: #1da1f2;cursor: pointer;
}
.snsButtons_facebook { background: #3b5998;cursor: pointer; }
.snsButtons_google   { background: #dd4b39;cursor: pointer; }
.snsButtons_linkedin  { background: #0e76a8;cursor: pointer; }
.snsButtons_github  { background: #000;cursor: pointer; }
.snsButtons_wechat  { background: #1dcd00;cursor: pointer; }
.snsButtons_instagram  { background: #3f729b;cursor: pointer; }
</style>




<footer >
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <style media="screen">
   #footer {
     color:white;
   }
 </style>
 <ul class="snsButtons">
   <a href="https://twitter.com/Olympics" target="_blank"><li class="snsButtons_twitter"><i class="fa fa-twitter"></i><span  class="snsButtons_label">Twitter</span></a>
   <a href="https://www.facebook.com/olympics" target="_blank"><li class="snsButtons_facebook"><a target="_blank" href="https://www.facebook.com/olympics"><i class="fa fa-facebook-square"></i><span class="snsButtons_label">Facebook</span></a>
   <a href="/Google+" target="_blank"><li class="snsButtons_google"><i class="fa fa-google-plus"></i><span class="snsButtons_label">Google+</span></a>
    <a href="https://fr.linkedin.com/company/international-olympic-committee" target="_blank"><li class="snsButtons_linkedin"><i class="fa fa-linkedin"></i><span class="snsButtons_label">linkedin</span></a>
    <a href="https://github.com/TAKIKV/olympics" target="_blank"><li class="snsButtons_github"><i class="fa fa-github"></i><span class="snsButtons_label">Github</span></a>
    <a href="https://web.wechat.com/" target="_blank"><li class="snsButtons_wechat"><i class="fa fa-wechat"></i><span class="snsButtons_label">WeChat</span></a>
    <a href="https://www.instagram.com/olympics/" target="_blank"><li class="snsButtons_instagram"><i class="fa fa-instagram"></i><span class="snsButtons_label">Instagram</span></a>
 </ul>


  <p id="footer">&copy; 2021 - Carthageo Projet Hajime Takizawa et François Hebrard</p>

</footer>
