<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("nav") -%>
    <%- include("footer") -%>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Google+ c'est la plaie !</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </body>
</html>
