
<!DOCTYPE html>

<style>#header-fixed
{

    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background-color: #444;
    margin:auto;
    text-align: center;
    z-index: 9999;
    left-padding: 20%;
    display: block;




}
</style>




  <div id="header-fixed">
    <ul class="nav nav-pills">

      <li role="index"><a href="/"><img id = "logo_olympic" src="img/logo.png" alt="image pas chargee" height = 40px></a></li>
      <li role="presentation"><a align="right" href="epreuve">Médailles</a></li>
      <li role="presentation"><a align="right" href="participation">Participation</a></li>
    </ul>
  </div>
